<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Notifications</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-card>
    <ion-card-header>
      Hello,{{fullName}}
    </ion-card-header>
    <ion-card-content *ngIf="isPayDay()">
      You should to pay check off
    </ion-card-content>
    <ion-row *ngIf="isPayDay()">
      <ion-col offset-4>
        <button ion-button icon-start clear (click)="gotoEmail()">
          <ion-icon name="mail"></ion-icon>
          Send
        </button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>
